<!-- Navbar -->
<mat-toolbar color="primary">
  <span class="logo">E-Commerce App</span>
  <div class="spacer"></div>
  
    <div>
      <input type="text" placeholder="Search For Product" />
      <button>Search</button>
    </div>
  <a mat-button routerLink="/">Home</a>
  <!-- <a mat-button routerLink="/product-list">Product List</a> -->

  <!-- Additional Actions: Cart, Business, Login, Sign Up -->
  <a mat-button routerLink="/cart"><mat-icon>Cart</mat-icon> </a>

  <a mat-button routerLink="/business">Business Sign In</a>
  <a mat-button routerLink="/login">Login</a>
  <a mat-button routerLink="/signup">Sign Up</a>
</mat-toolbar>

<!-- Divider -->
<div class="divider" role="separator" aria-label="Divider"></div>

<!-- Footer (About Us and Contact) -->
<!-- <footer>
  <div class="footer-container">
    <a mat-button routerLink="/about-us">About Us</a>
    <a mat-button routerLink="/contact">Contact Us</a>
  </div>
</footer> -->
